<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="private">
    <meta name="content-language" content="ja">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="google-site-verification" content="N0I7Gn7tk6h1v2Q-qlCJqWOkGAi4X4FP06SXTddKtb8" />
    <meta name="format-detection" content="telephone=no,email=no">
    <title>在留届 - 在留届を提出する方</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='RRnet/css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='RRnet/css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='RRnet/js/application.js') }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49881348-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-49881348-4');
        </script>
</head>

<body>
    <div id="wrapper">
        <header id="header">
            <div class="headerInner">
                <div class="logo">
                    <a href="/RRnet" class="layout_pc"><img src="https://www.ezairyu.mofa.go.jp/RRnet/img/logo_orrnet.png" alt="在留届 - インターネットによるオンライン在留届"></a>
                    <a href="/RRnet" class="layout_sp"><img src="https://www.ezairyu.mofa.go.jp/RRnet/img/sp/logo_orrnet_sp.png" alt="在留届 - インターネットによるオンライン在留届"></a>
                </div>
                <nav id="nav">
                    <ul class="headerMenu">
                    </ul>
                </nav>
                <div class="headerBnr">
                    <a href="http://www.mofa.go.jp/mofaj/" target="_blank" class="layout_pc"><img src="https://www.ezairyu.mofa.go.jp/RRnet/img/logo_mofa.png" alt="外務省"></a>
                    <a href="http://www.mofa.go.jp/mofaj/" target="_blank" class="layout_sp"><img src="https://www.ezairyu.mofa.go.jp/RRnet/img/sp/logo_mofa_sp.png" alt="外務省"></a>
                </div>
                <div id="logstatus">
                    <ul class="headerIconMenu">
                        <li class="faq"><a href="/RRnet/faq">よくある質問</a></li>
                        <li class="inquiry"><a href="https://www.enq.ezairyu.mofa.go.jp/m/rrnet_contact" target="_blank">お問い合わせ</a></li>
                    </ul>
                </div>
                <div class="menuBtn" id="menuBtn">
                    <img src="https://www.ezairyu.mofa.go.jp/RRnet/img/sp/icon_menu.png" alt="MENU" id="menuIcon">
                    <img src="https://www.ezairyu.mofa.go.jp/RRnet/img/sp/icon_close_menu.png" alt="MENU" id="closeMenuIcon">
                </div>
            </div>
            <div class="dropdownMenu" id="dropdownMenu">
                <div class="dropdownInner">
                    <ul class="listNav">
                        <li><a href="/RRnet/agree">在留届を提出する方</a></li>
                        <li><a href="/RRnet/residencereport/login">変更届・帰国届を提出する方</a></li>
                        <li><a href="/RRnet/residencereport/password/reset">パスワードを忘れた方</a></li>
                    </ul>
                    <div class="halfColListBlock">
                        <ul class="listNav">
                            <li><a href="/RRnet/faq">よくあるご質問</a></li>
                        </ul>
                        <ul class="listNav">
                            <li><a href="https://www.enq.ezairyu.mofa.go.jp/m/rrnet_contact" target="_blank">お問い合わせ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="">
            <div class="pageTitleArea">
                <div class="contentsInner">
                    <h1><label>アクセシビリティ</label></h1>
                </div>
            </div>
            <div class="contentTitleArea">
                <div class="contentsInner">
                    <h2 class="txt_c keyColor fs120p mt15 mb10"><strong>このサイトについて</strong></h2>
                </div>
            </div>
            <div>
                <div class="contentsInner" style="line-height:1.5;">
                    <div class="txt_doui">
                        <h3>1&nbsp;ウェブアクセシビリティ</h3>
                        <div class="pp_text_area">
                            <p class="pp_text">
                                「ホームページを利用している全ての人が，心身の条件や利用する環境に関係なく，ホームページで提供されている情報や機能に支障なくアクセスし，利用できること」を意味します。
                            </p>
                        </div>
                    </div>
                    <div class="txt_doui">
                        <h3>2&nbsp;外務省ORRネットの取組について</h3>
                        <div class="pp_text_area">
                            <p class="pp_text mt30">
                                外務省では，ホームページ利用者にとって使いやすいページを目指しています。平成26年度に実施したウェブアクセシビリティに関する日本工業規格JIS X 8341-3：2010「高齢者・障害者等配慮設計指針－第3部：ウェブコンテンツ」（以下，JISと記載）に基づく試験（JISに対応できているかの確認）の結果を踏まえ，今後さらなる改善に取り組んでいきます。
                            </p>
                            <p class="pp_text">
                                <a class="txtUnderline" href="http://www.mofa.go.jp/mofaj/p_pd/ipr/page25_000856.html" target="_blank">
                                    JIS X 8341-3：2016に基づく試験結果（平成29年3月）
                                </a>
                            </p>
                            <p class="pp_text">
                                <a class="txtUnderline" href="http://www.mofa.go.jp/mofaj/p_pd/ipr/page22_001901.html" target="_blank">
                                    JIS X 8341-3：2010に基づく試験結果（平成27年3月）
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="txt_doui">
                        <h3>3&nbsp;外務省ホームページ　ウェブアクセシビリティ方針（対応目標）</h3>
                        <div class="pp_text_area">
                            <p class="pp_text mt30">
                                外務省ホームページ（www.mofa.go.jp）は，現行システムの刷新に係る予定等を踏まえ，CMSにより運用しているページについて，平成31年末までにJISのレベルAAに準拠することを目標とします（CMSの管理対象外のページについては，平成32年度末までにJISのレベルAAに準拠することを目標とします）。<br />
                                平成28年度の試験結果のとおり，現時点では問題があることを確認しておりますが，対応方法等の検討を行い，CMSテンプレートの修正等，できるだけ早期に対応することを目指します。<br />
                                平成29年度にJISの試験を実施し，結果を外務省ホームページで公開する予定です。
                            </p>
                            <p class="pp_text mt30">
                                （注）レベルAAに準拠とは<br />
                                JISにはA，AA，AAAの3つのレベルがあります。レベルA及びAAの達成基準全てを満たす場合に「レベルAAに準拠」と言います。この表記方法は，情報通信アクセス協議会ウェブアクセシビリティ基盤委員会「<a class="txtUnderline" href="http://waic.jp/docs/jis2016/compliance-guidelines/201603/" target="_blank">ウェブコンテンツのJIS X 8341-3：2016対応度表記ガイドライン - 2016年3月22日</a>」で定められた表記によるものです。
                            </p>
                        </div>
                    </div>
                    <div class="submitButtonGroup txt_c p30">
                        <a href="/RRnet">
                            <button type="button" class="btn btnPrimary w192_p txt_block">
                                トップに戻る
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="contentsInner">
            <ul class="footerMenu layout_pc">
                <li><a href="/RRnet">TOP</a></li>
                <li><a href="/RRnet/faq">よくある質問</a></li>
                <li><a href="/RRnet/legalmatters">法的事項</a></li>
                <li><a href="/RRnet/privacy">プライバシーポリシー</a></li>
                <li><a href="/RRnet/accessibility">アクセシビリティ</a></li>
                <li><a href="https://www.enq.ezairyu.mofa.go.jp/m/rrnet_contact" target="_blank">お問い合わせ</a></li>
            </ul>
            <div class="layout_sp">
                <ul class="listNav">
                    <li><a href="/RRnet">TOP</a></li>
                    <li><a href="/RRnet/faq">よくある質問</a></li>
                    <li><a href="/RRnet/legalmatters">法的事項</a></li>
                    <li><a href="/RRnet/privacy">プライバシーポリシー</a></li>
                    <li><a href="/RRnet/accessibility">アクセシビリティ</a></li>
                    <li><a href="https://www.enq.ezairyu.mofa.go.jp/m/rrnet_contact" target="_blank">お問い合わせ</a></li>
                </ul>
                <div class="footerBottomBar">
                    <div id="pageTop"><img src="https://www.ezairyu.mofa.go.jp/RRnet/img/sp/pagetop.png" alt="PAGETOP" class="pagetop"></div>
                </div>
            </div>
            <div class="copyright">Copyright &copy; Ministry of Foreign Affairs of Japan</div>
        </div>
        <div class="addressArea">
            <p class="address">外務省　〒100-8919　東京都千代田区霞が関2-2-1
                <a href="http://www.mofa.go.jp/mofaj/annai/address/index.html" target="_blank" class="link-map">地図</a>　
                <br class="contact">
                電話（代表）03-3580-3311　法人番号　9000012040001
            </p>
        </div>
    </footer>
</body>

</html>